.sidebar{
    width: 266px;
    height: 750px;
    background: white;
    float: left;
    border-right: 1px solid #666666;
}

.sidebar embed{
    width: 220px;
    margin-top: 20px;
    margin-left: 30px;
}

.content{
    width: 600px;
    height: 750px;
    background: white;
    float: left;
}

.content h1 {
    background: url("../images/aboutme.gif") no-repeat;
    width: 123px;
    height: 35px;
    color: #666666;
    margin-top: 20px;
    margin-left: 30px;
    text-indent: -9999px; /*隐藏字体*/
}

.content img{
    margin-left: 30px;
}

.content p{
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 24px;
    color: #666666;
}
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
